
Flask==0.12.4
flask-mongoengine==0.9.5
Flask-Script==2.0.6
Flask-Cors==3.0.3
blinker==1.4

bs4==0.0.1
html2text==2017.10.4
simplejson==3.13.2
pytest==3.4.2

spacy==2.0.18
nltk==3.2.5
scipy==0.19.1
numpy==1.13.3
pandas==0.21.1
scikit-learn==0.19.1
cloudpickle==0.5.2
h5py==2.7.1
tensorflow==1.8.0

parsedatetime==2.4
python-crfsuite==0.9.5
python-dateutil==2.6.1
requests==2.18.4

gunicorn==19.7.1
gevent==1.2.2