@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
}


.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}