<mat-card>
<h2>{{message}}</h2>

<form [formGroup]="storyForm" *ngIf="storyForm" (submit)="save()" class="row" style=" width: 100%;"> 
  <mat-form-field class="full-width">
    <textarea matInput formControlName="storyName" placeholder="Story name"></textarea> 
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <textarea matInput formControlName="intentName" placeholder="Intent key" ></textarea>
  </mat-form-field>

  <h2 >Parameters
    <button type="button" (click)="addParameter()" mat-button>add</button>
  </h2>
  <section class="parameters" formArrayName="parameters">
    <div *ngFor="let paremeter of storyForm.controls.parameters.controls; let i=index;">

      <div [formGroup]="paremeter">
        <mat-form-field>
          <textarea matInput formControlName="name" placeholder="Parameter name"></textarea>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-select formControlName="type" placeholder="Parameter type">
            <mat-option *ngFor="let story of storyTypesArray" [value]="story">
              {{ storyTypes[story] }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="required">Required</mat-checkbox>

        <mat-form-field  *ngIf="paremeter.controls.required.value">
          <textarea matInput formControlName="prompt" placeholder="Message to prompt when require"></textarea>
        </mat-form-field>

        <button type="button" class="col-md-1" (click)="deleteParameter(i)" mat-button>delete</button>
      </div>
    </div>


  </section>


  <h2 >
    <mat-checkbox formControlName="apiTrigger">API trigger</mat-checkbox>
  </h2>
  <section [formGroup]="storyForm.controls.apiDetails" *ngIf="apiTrigger()">

    <mat-checkbox  formControlName="isJson">JSON</mat-checkbox>

    <mat-form-field >
      <textarea matInput formControlName="url" placeholder="API url"></textarea>
    </mat-form-field>

    <mat-form-field >
      <mat-select formControlName="requestType" placeholder="API method">
        <mat-option value="GET">GET</mat-option>
        <mat-option value="POST">POST</mat-option>
        <mat-option value="PUT">PUT</mat-option>
        <mat-option value="DELETE">DELETE</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput formControlName="jsonData" placeholder="JsonData"></textarea>
    </mat-form-field>
  </section>
  <mat-form-field class="full-width">
    <textarea matInput formControlName="speechResponse" placeholder="Speech Response"></textarea>
  </mat-form-field>

  <p>
    Extracted parameters and api call response can be accessed from speech respone using "parameters" and "result" objects respectively
  </p>

  

<mat-card-actions>
    <button mat-raised-button color="primary">Save</button>
  </mat-card-actions>
</form>
</mat-card>