mat-card{
    margin: 10px;
    .full-width {
        width: 100%;
      }
      .parameter{
          padding:15px;
          margin-bottom: 10px;
      }
      pre{
          background-color:#efefef;
          padding: 5px; 
      }
}

