<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chat Window</title>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/chat.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/chat.css" rel="stylesheet">
</head>
<body>
<div class="container pull-right" id="chatWindow">
    	    <div class="panel panel-primary chatrr">
              <div class="panel-heading">
                  <b> Iky </b> <small>online</small>
                  <a id="righta" href="#">+</a>
              </div>
              <div class="panel-body"  style="height: 300px;">
              </div>
                <div class="panel-footer inputBottom">
                    <textarea id="userSay"></textarea>
                </div>
            </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>
