
<h1>
  Intents 
  <button mat-mini-fab (click)="add()">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>

  <button mat-button (click)="trainModels()" >Build  Agent</button>

</h1>

<div class="row">
  <mat-card class="col-md-6" *ngFor="let story of stories">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{story.storyName}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="edit(story)" >Edit</button>
      <button mat-button (click)="train(story)" >Train</button>
      <button mat-button (click)="delete(story)" >Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
