<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/chat/css/chat.css">
    <script src="/static/commons/js/jquery.min.js"></script>
    <script src="/static/commons/js/bootstrap.min.js"></script>
    <script src="/static/chat/js/chat.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>IKY v2.</h1>
    </div>

    <div class="row">
        <div class="col-md-4 chat-area">
            <ul class="chat">
            </ul>
            <div class="footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm"
                           placeholder="Type your message here..."/>
                    <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send</button>
                            </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4 style="margin-left: 50px">POST /api/v1</h4>
            <pre class="payloadPreview">
            </pre>
        </div>
    </div>
</div>

<div class="container">
    <footer class="footer">
        <a href="/stories/home">Manage Stories</a>
    </footer>
</div>
</body>
</html>