<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<div fxLayout="row" fxFill>
  <mat-card fxFlex="90" fxLayout="column" >
    <div fxFlex="90" class="chat-messages">
      <div *ngFor="let chat of chats">
  
        <div fxLayout="row" fxLayoutAlign="end center" *ngIf="chat.owner=='user'">
          <div class="col-md-10">
            <h4 class="textright fullwidth">{{chat.input}}</h4>
          </div>
          <div class="col-md-1" class="textcenter">
            <mat-icon color="primary"> face </mat-icon>
          </div>
        </div>
    
    
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="chat.owner=='chat'">
          <div class="textcenter">
            <mat-icon color="accent"> android </mat-icon>
          </div>
          <div class="col-md-10">
            <h4 class="textleft fullwidth" [innerHTML]="chat.speechResponse"></h4>
          </div>
        </div>
    
        <!-- <mat-divider></mat-divider> -->
      </div>
    </div>
    
      <form [formGroup]="chatForm" *ngIf="chatForm" (submit)="send()" fxLayout="row" fxFlex="10" >
        <mat-input-container fxFlex="90" >
          <input type="text" matInput formControlName="input" placeholder="Type your message here" autocomplete=off>
        </mat-input-container>

        <button mat-icon-button fxFlex="10" >
            <mat-icon aria-label="Send">send</mat-icon>
          </button>

      </form>
    
    </mat-card>
    
    <mat-card fxFlex="40" class="json-response">
      <h3>POST /api/v1</h3>
      <br>
      <pre>
        {{prettyChatCurrent}}
      </pre>
    </mat-card>
</div> 