<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<div fxLayout="row" fxFill>
  <mat-card fxFlex="30" fxLayout="column" >
    <div fxFlex="90" class="chat-container">
      <div *ngFor="let chat of chats" >

        <div  *ngIf="chat.owner=='chat'" class="chat-message">
          <div class="chat-message-content">
            <span class="textleft" [innerHTML]="chat.speechResponse"></span>
          </div>
        </div>
        <div  *ngIf="chat.owner=='user'" class="chat-message">
          <div class="chat-message-content human">
            <span class="textright">{{chat.input}}</span>
          </div>
        </div>
      </div>
    </div>
    
      <form [formGroup]="chatForm" *ngIf="chatForm" (submit)="send()" fxLayout="row" fxFlex="10" >
        <mat-input-container fxFlex>
          <input type="text" matInput formControlName="input" placeholder="Type your message here" autocomplete=off>
        </mat-input-container>
      </form>
    </mat-card>
    
    <mat-card fxFlex="50" class="json-response">
      <h3>POST /api/v1</h3>
      <br>
      <pre>
        {{prettyChatCurrent}}
      </pre>
    </mat-card>
</div> 