mat-card{
    margin: 10px;
      .full-width {
        width: 100%;
      }
      .entities{
          
          margin: 10px;
          .entity{
             display: flex;
             align-items: center;

              padding:5px;
              margin-bottom: 3px;
              cursor: pointer;
          }
      }
      .entity-container{
        border-bottom: 1px solid lightgray;
        padding:10px;
      }
}

