
.clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
        .me{
        font-size: 14px;
        margin: -4px;
        border-right: 3px solid #60DF88 !important;
        padding: 5px;
        background-color: rgb(239, 255, 241);
    }

.you{
    font-size: 14px;
    margin: -4px;
    border-left: 3px solid rgb(255, 112, 0) !important;
    padding: 5px;
    padding-left:10px;
    background-color: rgb(247, 247, 214);
}
#chatWindow {
    width: 300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
}
.inputBottom textarea {
    max-width: 100% !important;

}

.chatrr {
    position: relative;
}

.panel-body{
        overflow-y: scroll;
}
.panel-body div{
        padding-bottom: 2px !important;
}
.panel-heading a{
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
    padding-left:60%;
}

.panel-heading{
  color: #fff !important;
  background-color:#337ab7 !important;
}

