<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/repo.js"></script>
</head>
<body>

<div class="container">
    <div class="page-header">
        <div class="pull-left">
            <h1>Iky's Storage</h1>
        </div>
        <div class="pull-right">
            <a href="/"><img class="logo-left" src="static/img/iky.png"></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="work_area">
        <div class="stories_list">

        </div>
        <br>
        <textarea id="raw_data" rows="20" cols="120"></textarea>
        <br>
        <button id="store" class="btn btn-primary">Add</button>
    </div>
</div>

</body>
</html>