<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/index.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<div class="pull-left">
				<img class="logo-left" src="static/img/iky.png">
			</div>
			<div class="pull-right">
				<img class="logo-left" src="static/img/lulu-exchange-logo.png">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
		<div class="search-box"> 
			<input placeholder ="How can i help you ?" type="text" class="form-control" id="user-say" />
			<i class="glyphicon glyphicon-flash"></i>
		</div>
	</div>
	<div class="container result_area">
	    <div id="wait">
			Loading..
	    </div>
	</div>
</body>
</html>