<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/index.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<div class="pull-left">
				<a href="/" ><img class="logo-left" src="static/img/iky.png"></a>
			</div>
			<div class="pull-right">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
		<div class="search-box row"> 
			<div class="col-sm-11" style="padding:8px;">
				<input placeholder ="How can i help you ?" type="text" class="form-control" id="user-say" required>
				<i class="glyphicon glyphicon-flash"></i>
			</div>
			<div class="col-sm-1">
				<img id="mic" src="static/img/mic.gif" />
			</div>
		</div>
	</div>
	<div class="container result_area">
	    <div id="wait">
			Loading..
	    </div>
	</div>
	<div class="container">
	    <footer class="footer">
	    <a href="/stories">Manage Stories</a>
	    </footer>
    </div>
</body>
</html>