<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/stories.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h2>Iky's Stories</h2>
		</div>
		<div class="form-group row new_story">
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="story_name" placeholder="Story name">
		    </div>
		    <div class="col-sm-2">
		      <button type="button" class="btn btn-primary" id="new_story" >Add</button>
		    </div>
		</div>
		<div class="stories">
			<div class="story" >
				<h2 class="">Story 1 </h2> 
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Train</button>
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Delete</button>
			</div>
			<div class="story" >
				<h2 class="">Story 2 </h2> 
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Train</button>
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Delete</button>
			</div>
			<div class="story" >
				<h2 class="">Story 3 </h2> 
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Train</button>
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Delete</button>
			</div>
			<div class="story" >
				<h2 class="">Story 4 </h2> 
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Train</button>
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Delete</button>
			</div>
			<div class="story" >
				<h2 class="">Story 5</h2> 
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Train</button>
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Delete</button>
			</div>
			<div class="story" >
				<h2 class="">Story 6 </h2> 
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Train</button>
				<button type="button" class="btn btn-primary pull-right" id="btn_clear" >Delete</button>
			</div>
		</div>
	</div>
</body>
</html>