<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/stories.js"></script>
</head>
<body>
		<div class="container">
		  <div class="row">
		    <!-- These divs are inline and do NOT fill up the full 12 columns -->
		    <div class="span4">...</div>
		    <div class="span4">...</div>
		  </div>

		  <!-- This is a automatically a new line of divs -->
		  <div class="row">
		    <!-- This div will appear below the previous row, even though it
		      would fit next to the other divs -->
		    <div class="span4">......</div>
		  </div>
		</div>
</body>
</html>