<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h2>Iky's Class Room</h2>
		</div>
		<div class="train-area">
		  <label for="query">Train iky to extract entities.</label>
		  <input type="text" class="form-control" id="query">
		</div>
	</div>
</body>
</html>