<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/train.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h2>Iky's Class Room</h2>
		</div>
		<div class="row train-area">
			Train iky to extract entities.
			<input type="hidden" name="story_id" value="{{ story_id }}">
			<div class = "form-control" id="train_query" contenteditable></div>
		</div>
		<div class="row">
						<label for="ex2">Add new label,</label>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<input class="form-control" id="token_label" type="text">
			</div>
			<div class="col">
				<button type="button" class="btn btn-primary pull-right" id="btn_clear">Clear</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-primary pull-right" id="btn_add_test">Add to Test Set</button>
			</div>
		</div>
		<div class="row" id="output">
		</div>
		<div class="row" id="work">
		</div>
		<div class="row" id="instance">
		</div>
	</div>
</body>
</html>