body {
    margin: 20px;
    background: #fff;
}
.page-header{
    margin-top: 3px;
    border-bottom: 0px;
}

.page-header .logo-left {
    height: 73px;

}

.row{
    margin-top:  10px;
}
.search-box {
    position: relative;
}
.search-box .glyphicon {
    position: absolute;
    padding: 18px;
    pointer-events: none;
    float: right;
    top: 0px;
}
.search-box .glyphicon:before {
    color: #333;
    transition: all 0.2s linear;
}
.search-box input {
    color: #fff;
    padding-left: 60px;
    background: #fff;
    border:1;
    outline: none !important;
    transition: all 0.2s linear;

}
.search-box input:focus {
    background: #fff !important;
    outline: 0;
    color: #333;
}

.result_area{
    margin-top: 10px;
} 

#wait{
    display: none;
}

#output{
    margin-top: 20px;
}


#train_query::selection {
    color:green;
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.stories
{
    margin-top: 10px;
}
.panel {
    height: 120px;
    display: none;
}
p.flip {
    line-height: 30px;
    margin: auto;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    background: #555;
    border: solid 1px #666;
    color: #ffffff;
    border-radius: 3px;
}
.clear{
    clear: both;
}