<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>Edit story</title>
    <link rel="stylesheet" href="/static/commons/css/bootstrap.min.css">
    <script src="/static/commons/js/react.min.js"></script>
    <script src="/static/commons/js/react-dom.min.js"></script>
    <script src="/static/commons/js/browser.min.js"></script>
    <script src="/static/commons/js/jquery.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an
            <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your
            browser</a> to improve your experience.</p>
    <![endif]-->

<input type="hidden" id="storyId" value="{{ storyId }}">
<div class="container">
        <div class="page-header">
            <div class="pull-left">
                <h1>Edit Story</h1>
                <i>Changing labels may effect your previously trained data.</i>
            </div>
            <div class="pull-right">
                <a href="/">Home</a>
            </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div id="app">

    </div>
</div>
<script type="text/babel" src="/static/stories/js/editStory.js"></script>
</body>
</html>
