<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/commons/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/stories/css/stories.css">
    <script src="/static/commons/js/jquery.min.js"></script>
    <script src="/static/commons/js/bootstrap.min.js"></script>
    <script src="/static/stories/js/stories.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <div class="pull-left">
            <h2>Stories</h2>
            <i>Please train your stories for better results.</i>
        </div>
        <div class="pull-right">
            <a href="/"><img class="logo-left" src="/static/images/iky.png"></a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="stories">
            </div>
        </div>
        <div class="col-md-8">
            <h2>Create new story</h2>
            <div class="form-group newStory">
                <div class="span4">
                    <input type="text" class="form-control" id="storyName" placeholder="Story name" required>
                </div>
                <div class="span4">
                    <input class="form-control" placeholder="Intent" size="50" id="intentName" type="text" required>
                </div>
                <div class="span4"><div class="clear"></div> </div>
                <div class="span4">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <input class="form-control" placeholder="Parameter name" size="50" id="paramName" type="text">
                        </div>
                        <div class="col-md-4">
                            <select class="form-control param-type" id="paramEntityType" value="free_text">
                                <option value="mobile">Mobile number</option>
                                <option value="email">Email</option>
                                <option value="free_text">Free Text</option>
                                <option value="number">Number</option>
                                <option value="list">List</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                              <label><input type="checkbox" id="paramRequired" value="">Required</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" placeholder="Prompt" id="prompt"  required></textarea>
                        </div>
                        <div class="pull-right">
                            <br>
                            <button type="button" class="btn btn-info" id="btnAddParam">Add parameter</button>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
                <div class="span4">
                     <div class="col-md-1">
                            <div class="checkbox">
                              <label><input type="checkbox" id="apiTrigger" value=""> API trigger </label>
                            </div>
                        </div>
                    <div class="col-md-1">
                            <div class="checkbox">
                              <label><input type="checkbox" id="isJson" value=""  disabled> JSON </label>
                            </div>
                        </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="API url" id="apiUrl" type="text" disabled>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="requestType" disabled>
                            <option value="GET" selected="selected">GET</option>
                            <option value="POST">POST</option>
                            <option value="POST">PUT</option>
                            <option value="POST">DELETE</option>
                        </select>
                    </div>
                </div>
                <div class="span4" id="jsoneditor">
                    <textarea id="jsonData">{}</textarea>
                </div>
                <div class="span4">
                    <textarea class="form-control" placeholder="Speech response" size="50" id="speechResponse"  required></textarea>
                <i>Extracted parameters and api call response can be accessed from speech respone using "parameters" and "result" objects respectively</i>
                </div>
                <div class="span4">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success" id="btnCreateStory">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>