<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/commons/css/style.css">
    <script src="/static/commons/js/jquery.min.js"></script>
    <script src="/static/commons/js/bootstrap.min.js"></script>
    <script src="/static/train/js/train.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <div class="pull-left">
            <h1>Iky's Class Room</h1>
            <i>Train your story for possible user inputs.<br>Tag required parameters using mouse and give em labels</i>
        </div>
        <div class="pull-right">
            <a href="/"><img class="logo-left" src="/static/images/iky.png"></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="span4 train-area">
        <input type="hidden" name="storyId" value="{{ storyId }}" required>
        <div class="form-control" id="sentences" placeholder="Enter sample user input" contenteditable="true"></div>
        <br>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="btnClear">Clear</button>
            <button id="trainButton" class="btn btn-primary">Start Labeling</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="span4">
        <div class="pull-left labels">
            <span id="action"><b>Intent</b> : {{ story.intentName }}</span><br>
            <span id="labels"><b>Parameters</b> : {{ ",".join(parameters) }}</span>
        </div>
        <div class="pull-right">
            <div class="span4">
                <label for="ex2" style="color:#337ab7">Mark label,</label>
            </div>
            <input class="form-control" id="tokenLabel" type="text" required>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="span4">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="btnBuild" objid="{{ storyId }}">Build Model</button>
            <button type="button" class="btn btn-primary" id="btnInsertLabeledSentence">Add to Test Set</button>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="span4" id="output">
    </div>
    <p class="flip">View labeled sentences<span class="glyphicon glyphicon-menu-down"></span></p>
    <div class="row new_story panel" id="work">
        <ol>
            {% for entry in labeledSentences %}
            <li _id="{{ entry.id}}">{{ entry.data }} <a id="btnDeleteSentence" _id="{{ entry.id}}"> Delete</a></li>
            {% endfor %}
        </ol>
    </div>
    <div class="span4" id="instance">
    </div>
</div>
</body>
</html>