.stories
{
    margin-top: 10px;
    overflow-y: scroll;
    padding-right: 10px;
}
.story{
    padding-bottom: 5px;
     border-bottom: 1px dashed;
}
.panel {
    height: 120px;
}
p.flip {
    line-height: 30px;
    margin: auto;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    background: #D6F5D6;
    border: solid 1px #D6F5D6;
    border-radius: 3px;
}