.round-button{
    border:1px solid;border-radius:5px;padding:5px
}
.round-button:hover{
    cursor: pointer;
    background-color: gray;
    color:#fff;
}
.add-entity{
    margin-top: 10px;
}
.entity-table{
    padding:5px;

}
.full-width {
    width: 100%;
  }
  
mat-card{
    margin: 5px;

}
.mat-accordion {
    margin: 5px;
}

.header{
    padding:5px;
}
#textarea_highlight{
    border-radius: 5px;
    padding:10px;
    background-color:#efefef;
}
.table-header{
    padding: 10px;
    background: #e9eaeb;
}