<p>
  Train your story for possible user inputs. Tag required parameters using mouse and give em labels
</p>
<div>
  <textarea cols="30" [(ngModel)]="newExampleText"></textarea> <button (click)="addNewExample()">Add new example</button>
</div>

<div *ngFor="let example of trainingData;let example_index = index">

    <div id="textarea_highlight" contenteditable="true"
    role="textarea" (mouseup)="annotate()">{{example.text}}</div>

    <div class="entity-table">

        <table>
          <h3>Entities</h3>
            <tr><td>Entity</td><td>Value</td><td></td></tr>
                <tr *ngFor="let entity of example.entities">
                  <td>{{entity.name}}</td><td>{{entity.value}}</td><td><button>remove</button></td>
                </tr>
          </table>
          
          <div class="add-entity">
              <span *ngIf="this.selectionInfo.value == ''; else elseBlock" class="round-button"> Select text to annotate </span>
      
              <ng-template #elseBlock>
                <input type="text" [(ngModel)]="newEntityName" placeholder="entity name">
                <span class="round-button" (click)="addNewEntity(example_index)"> Add an entity for <b >"{{this.selectionInfo.value}}"</b> </span>
              </ng-template>
          </div>

        
    </div>
    <button>delete example</button>
</div>

<button (click)="updateTrainingData()">Save Training Data </button>
